/* Ćwiczenie A */
td{border: 1px solid black;}
ul{list-style-type: square;}
h1{color:blue;
font-size: 48px;}
h2{color: blueviolet;
    font-size: 36px;}
h3{color:yellowgreen;
    font-size: 24px;}
h4{color: thistle;
    font-size: 12px;}
a{text-decoration: none;}
/* Ćwiczenie B */
